.contact-jumbotron {
    background: url("../../assets/img/parallex/background_reverse.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
.image{
    background-image: url("../../assets/img/background/watercolor4.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  